<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta http-equiv = "refresh" content = "3; url = /" />
    <title>Register Success</title>
</head>
<body background="https://i.ibb.co/x6gWM4p/background.png"></body>
      <div id="description box" class="center" style="text-align: center;width: 80% ;align-items: center; margin-left: auto;margin-right: auto;">
        <h1 style="margin: 10px;font-family: 'Lobster', cursive;"><%= answer.name %> Registered Successfully</h1>
        
        <img src="http://cdn.onlinewebfonts.com/svg/img_399404.png" alt="Completed" height="150px" width="150px" style="margin: 50px;">
        <h1>Redirecting to Home</h1>
        <h3>Please Wait...</h3>
      </div>

</body>
</html>